In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [32]:
df = pd.read_csv("loan_dataset_final.csv", encoding='latin1')

df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,emp_title,emp_length,home_ownership,...,collections_12_mths_ex_med,pub_rec_bankruptcies,interest_rate,revol_utilization,number_bc_gt_75,fico_score,lti,month_since_oldest_tl,race_name,gender
0,1000007,1225615,5150,5150,5150.0,60 months,132.58,atlantic tomorrows office,1 year,RENT,...,0.0,1.0,0.1864,0.873,2,709,0.147176,124.0,White,Female
1,1000030,1225638,20000,20000,20000.0,36 months,635.07,The Red Threads Inc.,6 years,RENT,...,0.0,0.0,0.0890,0.354,0,744,0.277778,149.0,African American,Female
2,1000033,1225642,12800,12800,12750.0,60 months,316.54,T-Mobile USA Inc,9 years,MORTGAGE,...,0.0,0.0,0.1677,0.754,0,719,0.156655,176.0,White,Female
3,1000045,1225655,14000,14000,14000.0,60 months,349.98,Trader Joe's,9 years,MORTGAGE,...,0.0,0.0,0.1727,0.357,0,714,0.194444,140.0,White,Female
4,1000067,1225680,15000,15000,14975.0,60 months,370.94,Truevance Engineering,< 1 year,RENT,...,0.0,0.0,0.1677,0.369,0,709,0.208333,136.0,White,Female

In [33]:
df = df.drop(['emp_title', 'title', 'desc', 'collections_12_mths_ex_med'], axis=1)

df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,emp_length,home_ownership,annual_inc,...,collection_recovery_fee,pub_rec_bankruptcies,interest_rate,revol_utilization,number_bc_gt_75,fico_score,lti,month_since_oldest_tl,race_name,gender
0,1000007,1225615,5150,5150,5150.0,60 months,132.58,1 year,RENT,34992.0,...,0.0,1.0,0.1864,0.873,2,709,0.147176,124.0,White,Female
1,1000030,1225638,20000,20000,20000.0,36 months,635.07,6 years,RENT,72000.0,...,0.0,0.0,0.0890,0.354,0,744,0.277778,149.0,African American,Female
2,1000033,1225642,12800,12800,12750.0,60 months,316.54,9 years,MORTGAGE,81708.0,...,0.0,0.0,0.1677,0.754,0,719,0.156655,176.0,White,Female
3,1000045,1225655,14000,14000,14000.0,60 months,349.98,9 years,MORTGAGE,72000.0,...,0.0,0.0,0.1727,0.357,0,714,0.194444,140.0,White,Female
4,1000067,1225680,15000,15000,14975.0,60 months,370.94,< 1 year,RENT,72000.0,...,0.0,0.0,0.1677,0.369,0,709,0.208333,136.0,White,Female

In [34]:
df = df.replace(['Current', 'Fully Paid', 'Does not meet the credit policy. Status:Fully Paid', 'Charged Off', 'In Grace Period', 
                 'Late (31-120 days)', 'Late (16-30 days)', 'Does not meet the credit policy. Status:Charged Off', 'Default'],
                 [1, 1, 1, 0, 1, 0, 0, 0, 0])

df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,emp_length,home_ownership,annual_inc,...,collection_recovery_fee,pub_rec_bankruptcies,interest_rate,revol_utilization,number_bc_gt_75,fico_score,lti,month_since_oldest_tl,race_name,gender
0,1000007,1225615,5150,5150,5150.0,60 months,132.58,1 year,RENT,34992.0,...,0.0,1.0,0.1864,0.873,2,709,0.147176,124.0,White,Female
1,1000030,1225638,20000,20000,20000.0,36 months,635.07,6 years,RENT,72000.0,...,0.0,0.0,0.0890,0.354,0,744,0.277778,149.0,African American,Female
2,1000033,1225642,12800,12800,12750.0,60 months,316.54,9 years,MORTGAGE,81708.0,...,0.0,0.0,0.1677,0.754,0,719,0.156655,176.0,White,Female
3,1000045,1225655,14000,14000,14000.0,60 months,349.98,9 years,MORTGAGE,72000.0,...,0.0,0.0,0.1727,0.357,0,714,0.194444,140.0,White,Female
4,1000067,1225680,15000,15000,14975.0,60 months,370.94,< 1 year,RENT,72000.0,...,0.0,0.0,0.1677,0.369,0,709,0.208333,136.0,White,Female

In [35]:
df = df.replace(['1 year', '6 years', '9 years', '< 1 year', '8 years', '10+ years', '5 years', '2 years', '3 years', '4 years', '7 years'],
                [1, 6, 9, 0, 8, 10, 5, 2, 3, 4, 7])

df['emp_length'] = df['emp_length'].fillna(0)

df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,emp_length,home_ownership,annual_inc,...,collection_recovery_fee,pub_rec_bankruptcies,interest_rate,revol_utilization,number_bc_gt_75,fico_score,lti,month_since_oldest_tl,race_name,gender
0,1000007,1225615,5150,5150,5150.0,60 months,132.58,1.0,RENT,34992.0,...,0.0,1.0,0.1864,0.873,2,709,0.147176,124.0,White,Female
1,1000030,1225638,20000,20000,20000.0,36 months,635.07,6.0,RENT,72000.0,...,0.0,0.0,0.0890,0.354,0,744,0.277778,149.0,African American,Female
2,1000033,1225642,12800,12800,12750.0,60 months,316.54,9.0,MORTGAGE,81708.0,...,0.0,0.0,0.1677,0.754,0,719,0.156655,176.0,White,Female
3,1000045,1225655,14000,14000,14000.0,60 months,349.98,9.0,MORTGAGE,72000.0,...,0.0,0.0,0.1727,0.357,0,714,0.194444,140.0,White,Female
4,1000067,1225680,15000,15000,14975.0,60 months,370.94,0.0,RENT,72000.0,...,0.0,0.0,0.1677,0.369,0,709,0.208333,136.0,White,Female

In [36]:
df['annual_inc'] = df['annual_inc'].fillna(df['annual_inc'].mean())

In [37]:
df['Division'] = df['loan_amnt'] / df['annual_inc']
df['lti'] = df['lti'].fillna(df['Division'])


df = df.drop(columns=['Division'])

In [38]:
df['mths_since_last_delinq'] = df['mths_since_last_delinq'].fillna(df['mths_since_last_delinq'].max()*5)
df['mths_since_last_record'] = df['mths_since_last_record'].fillna(df['mths_since_last_record'].max()*5)
df['month_since_oldest_tl'] = df['month_since_oldest_tl'].fillna(df['month_since_oldest_tl'].max()*5)

In [39]:
df['pub_rec_bankruptcies'] = df['pub_rec_bankruptcies'].fillna(0)
df['delinq_2yrs'] = df['delinq_2yrs'].fillna(0)
df['inq_last_6mths'] = df['inq_last_6mths'].fillna(0)
df['open_acc'] = df['open_acc'].fillna(0)
df['pub_rec'] = df['pub_rec'].fillna(0)
df['total_acc'] = df['total_acc'].fillna(0)
df['pub_rec_bankruptcies'] = df['pub_rec_bankruptcies'].fillna(0)
df['revol_utilization'] = df['revol_utilization'].fillna(0)

In [40]:
df.isnull().sum()

id                         0
member_id                  0
loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
installment                0
emp_length                 0
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
pymnt_plan                 0
purpose                    0
addr_state                 0
dti                        0
delinq_2yrs                0
inq_last_6mths             0
mths_since_last_delinq     0
mths_since_last_record     0
open_acc                   0
pub_rec                    0
revol_bal                  0
total_acc                  0
out_prncp                  0
out_prncp_inv              0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
total_rec_late_fee         0
recoveries                 0
collection_recovery_fee    0
pub_rec_bankruptcies       0
interest_rate              0
revol_utilization          0
number_bc_gt_75            0
fico_score                 0
lti                        0
month_since_oldest_tl      0
race_name                  0
gender                     0
dtype: int64

In [41]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
continuous_columns = df.select_dtypes(include=['int64', 'float64']).columns

categorical_columns

Index(['term', 'home_ownership', 'verification_status', 'issue_d',
       'pymnt_plan', 'purpose', 'addr_state', 'race_name', 'gender'],
      dtype='object')

In [42]:
continuous_columns = continuous_columns.to_list()

continuous_columns.remove('loan_status')
continuous_columns.remove('id')
continuous_columns.remove('member_id')

In [43]:
one_hot_encoded = pd.get_dummies(df['term'], prefix='term')

one_hot_encoded.astype(int)

       term_36 months  term_60 months
0                   0               1
1                   1               0
2                   0               1
3                   0               1
4                   0               1
...               ...             ...
42530               1               0
42531               1               0
42532               1               0
42533               0               1
42534               0               1

[42535 rows x 2 columns]

In [44]:
for col in categorical_columns:
    one_hot_encoded = pd.get_dummies(df[col], prefix=col)
    df = pd.concat([df, one_hot_encoded.astype(int)], axis=1)

    df = df.drop(columns=[col])

df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,emp_length,annual_inc,loan_status,dti,...,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY,race_name_African American,race_name_Asian,race_name_Other,race_name_White,gender_Female,gender_Male
0,1000007,1225615,5150,5150,5150.0,132.58,1.0,34992.0,1,17.59,...,0,0,0,0,0,0,0,1,1,0
1,1000030,1225638,20000,20000,20000.0,635.07,6.0,72000.0,1,7.80,...,0,0,0,0,1,0,0,0,1,0
2,1000033,1225642,12800,12800,12750.0,316.54,9.0,81708.0,1,14.22,...,0,0,0,0,0,0,0,1,1,0
3,1000045,1225655,14000,14000,14000.0,349.98,9.0,72000.0,1,20.35,...,0,0,0,0,0,0,0,1,1,0
4,1000067,1225680,15000,15000,14975.0,370.94,0.0,72000.0,1,20.50,...,0,0,0,0,0,0,0,1,1,0

In [45]:
x = df.drop(['loan_status', 'id', 'member_id'], axis=1)
y = df['loan_status']

# Standardize continuous variables
scaler = StandardScaler()
x[continuous_columns] = scaler.fit_transform(x[continuous_columns])

x.head()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,...,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY,race_name_African American,race_name_Asian,race_name_Other,race_name_White,gender_Female,gender_Male
0,-0.801490,-0.793581,-0.699679,-0.909624,-1.051618,-0.532738,0.626942,-0.297409,0.990289,0.760435,...,0,0,0,0,0,0,0,1,1,0
1,1.202328,1.284264,1.382602,1.495500,0.334139,0.044677,-0.828553,-0.297409,0.405887,0.760435,...,0,0,0,0,1,0,0,0,1,0
2,0.230780,0.276824,0.366000,-0.029116,1.165594,0.196145,0.125918,1.654796,-0.178515,-1.385193,...,0,0,0,0,0,0,0,1,1,0
3,0.392705,0.444731,0.541277,0.130942,1.165594,0.044677,1.037275,-0.297409,-0.178515,0.760435,...,0,0,0,0,0,0,0,1,1,0
4,0.527642,0.584653,0.677992,0.231265,-1.328770,0.044677,1.059576,-0.297409,-0.762917,0.760435,...,0,0,0,0,0,0,0,1,1,0

In [46]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [47]:
logistic_model = LogisticRegression()

logistic_model.fit(x_train, y_train)

c:\Users\unnat\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [51]:
y_pred = logistic_model.predict(x_test)
y_pred2 = logistic_model.predict(x_train)

train_acc = accuracy_score(y_train, y_pred2)
accuracy = accuracy_score(y_test, y_pred)
print("Train Accuracy:", train_acc)
print("Test Accuracy:", accuracy)

Train Accuracy: 0.9960326789702598
Test Accuracy: 0.9948277888797461

In [49]:
feature_importance = pd.DataFrame({'feature': x.columns, 'coefficient': logistic_model.coef_[0]})

feature_importance['abs_coefficient'] = feature_importance['coefficient'].abs()
feature_importance = feature_importance.sort_values(by='abs_coefficient', ascending=False)

In [50]:
pd.set_option('display.max_rows', None)  # Set to None to display all rows
pd.set_option('display.max_columns', None)  # Set to None to display all columns

print(feature_importance)

                                 feature  coefficient  abs_coefficient
19                       total_rec_prncp    11.707749        11.707749
22                            recoveries    -8.556043         8.556043
1                            funded_amnt    -7.937833         7.937833
17                           total_pymnt     7.088928         7.088928
2                        funded_amnt_inv    -6.712099         6.712099
18                       total_pymnt_inv     5.776717         5.776717
20                         total_rec_int    -4.859364         4.859364
3                            installment    -3.579130         3.579130
28                            fico_score     3.044213         3.044213
23               collection_recovery_fee    -2.355542         2.355542
25                         interest_rate     2.131455         2.131455
0                              loan_amnt    -1.877670         1.877670
50                        issue_d_Dec-07     1.532575         1.532575
140                        addr_state_NE    -1.272055         1.272055
30                 month_since_oldest_tl     1.229953         1.229953
31                        term_36 months     1.206407         1.206407
32                        term_60 months    -0.959719         0.959719
86                        issue_d_Oct-07     0.953713         0.953713
113                        addr_state_AL     0.852179         0.852179
69                        issue_d_Jun-08     0.810575         0.810575
144                        addr_state_NV    -0.794314         0.794314
81                        issue_d_Nov-07     0.769117         0.769117
88                        issue_d_Oct-09    -0.766331         0.766331
64                        issue_d_Jul-08     0.711227         0.711227
60                        issue_d_Jan-09    -0.684257         0.684257
72                        issue_d_Jun-11    -0.677833         0.677833
63                        issue_d_Jul-07     0.673654         0.673654
71                        issue_d_Jun-10    -0.657559         0.657559
84                        issue_d_Nov-10     0.633916         0.633916
45                        issue_d_Aug-07    -0.618375         0.618375
112                        addr_state_AK    -0.596696         0.596696
8                         inq_last_6mths    -0.574766         0.574766
73                        issue_d_Mar-08     0.570746         0.570746
52                        issue_d_Dec-09    -0.569270         0.569270
74                        issue_d_Mar-09    -0.562958         0.562958
55                        issue_d_Feb-08     0.559618         0.559618
44                        issue_d_Apr-11     0.515845         0.515845
141                        addr_state_NH     0.509250         0.509250
26                     revol_utilization     0.506725         0.506725
77                        issue_d_May-08    -0.479150         0.479150
91                        issue_d_Sep-07     0.476185         0.476185
82                        issue_d_Nov-08    -0.462496         0.462496
11                              open_acc     0.441183         0.441183
67                        issue_d_Jul-11    -0.432865         0.432865
138                        addr_state_MT    -0.429243         0.429243
150                        addr_state_RI     0.428809         0.428809
106                       purpose_moving    -0.425613         0.425613
158                        addr_state_WA    -0.424752         0.424752
41                        issue_d_Apr-08     0.416840         0.416840
27                       number_bc_gt_75    -0.406543         0.406543
131                        addr_state_MA     0.398372         0.398372
48                        issue_d_Aug-10    -0.387705         0.387705
53                        issue_d_Dec-10     0.387421         0.387421
116                        addr_state_CA    -0.387392         0.387392
118                        addr_state_CT     0.382937         0.382937
78                        issue_d_May-09    -0.379802         0.379802
123                        addr_state_HI    -0.377345         0.377345
5                             annual_inc     0.375815         0.375815
109               purpose_small_business    -0.373957         0.373957
51                        issue_d_Dec-08     0.356531         0.356531
115                        addr_state_AZ     0.346587         0.346587
14                             total_acc    -0.345623         0.345623
139                        addr_state_NC     0.339860         0.339860
151                        addr_state_SC     0.338266         0.338266
98                           purpose_car     0.337760         0.337760
10                mths_since_last_record    -0.333747         0.333747
99                   purpose_credit_card     0.330351         0.330351
47                        issue_d_Aug-09    -0.311034         0.311034
143                        addr_state_NM    -0.306912         0.306912
46                        issue_d_Aug-08     0.304037         0.304037
155                        addr_state_UT    -0.300958         0.300958
129                        addr_state_KY     0.299302         0.299302
161                        addr_state_WY     0.289419         0.289419
122                        addr_state_GA     0.284499         0.284499
148                        addr_state_OR    -0.283115         0.283115
128                        addr_state_KS     0.281917         0.281917
117                        addr_state_CO     0.281763         0.281763
156                        addr_state_VA    -0.281664         0.281664
152                        addr_state_SD     0.278198         0.278198
59                        issue_d_Jan-08    -0.271719         0.271719
126                        addr_state_IL     0.271573         0.271573
21                    total_rec_late_fee    -0.266118         0.266118
114                        addr_state_AR    -0.260543         0.260543
61                        issue_d_Jan-10    -0.260062         0.260062
35                  home_ownership_OTHER     0.256232         0.256232
153                        addr_state_TN    -0.254663         0.254663
135                        addr_state_MN    -0.251866         0.251866
65                        issue_d_Jul-09    -0.248168         0.248168
157                        addr_state_VT     0.247681         0.247681
96                          pymnt_plan_n     0.246688         0.246688
57                        issue_d_Feb-10    -0.243374         0.243374
80                        issue_d_May-11    -0.240856         0.240856
94                        issue_d_Sep-10    -0.240201         0.240201
146                        addr_state_OH     0.236117         0.236117
93                        issue_d_Sep-09    -0.223493         0.223493
89                        issue_d_Oct-10    -0.220700         0.220700
104               purpose_major_purchase     0.214227         0.214227
127                        addr_state_IN     0.209752         0.209752
95                        issue_d_Sep-11    -0.200820         0.200820
107                        purpose_other    -0.191314         0.191314
103                        purpose_house     0.190089         0.190089
16                         out_prncp_inv     0.189847         0.189847
75                        issue_d_Mar-10     0.176389         0.176389
105                      purpose_medical     0.171417         0.171417
85                        issue_d_Nov-11    -0.167574         0.167574
39   verification_status_Source Verified     0.164054         0.164054
9                 mths_since_last_delinq    -0.161769         0.161769
37                   home_ownership_RENT     0.150996         0.150996
62                        issue_d_Jan-11    -0.145542         0.145542
130                        addr_state_LA    -0.144414         0.144414
102             purpose_home_improvement    -0.143096         0.143096
100           purpose_debt_consolidation     0.140539         0.140539
167                          gender_Male     0.137658         0.137658
70                        issue_d_Jun-09     0.130265         0.130265
147                        addr_state_OK     0.118463         0.118463
12                               pub_rec    -0.113688         0.113688
134                        addr_state_MI     0.110515         0.110515
92                        issue_d_Sep-08    -0.110397         0.110397
120                        addr_state_DE    -0.109069         0.109069
166                        gender_Female     0.109030         0.109030
101                  purpose_educational    -0.106543         0.106543
159                        addr_state_WI     0.104826         0.104826
49                        issue_d_Aug-11    -0.104103         0.104103
33               home_ownership_MORTGAGE    -0.096650         0.096650
42                        issue_d_Apr-09     0.094685         0.094685
24                  pub_rec_bankruptcies    -0.092819         0.092819
164                      race_name_Other     0.089818         0.089818
160                        addr_state_WV     0.081248         0.081248
124                        addr_state_IA     0.081018         0.081018
36                    home_ownership_OWN    -0.080689         0.080689
13                             revol_bal    -0.080637         0.080637
137                        addr_state_MS     0.077789         0.077789
121                        addr_state_FL    -0.077777         0.077777
149                        addr_state_PA     0.077575         0.077575
132                        addr_state_MD    -0.074520         0.074520
43                        issue_d_Apr-10     0.074451         0.074451
111                      purpose_wedding     0.074313         0.074313
66                        issue_d_Jul-10    -0.071724         0.071724
38      verification_status_Not Verified     0.067874         0.067874
165                      race_name_White     0.066931         0.066931
6                                    dti     0.058643         0.058643
54                        issue_d_Dec-11    -0.055966         0.055966
162           race_name_African American     0.050054         0.050054
76                        issue_d_Mar-11    -0.048464         0.048464
142                        addr_state_NJ     0.046821         0.046821
4                             emp_length    -0.045708         0.045708
154                        addr_state_TX    -0.045143         0.045143
83                        issue_d_Nov-09    -0.043380         0.043380
145                        addr_state_NY    -0.041762         0.041762
90                        issue_d_Oct-11    -0.041412         0.041412
119                        addr_state_DC    -0.040615         0.040615
163                      race_name_Asian     0.039885         0.039885
29                                   lti    -0.039398         0.039398
125                        addr_state_ID     0.032713         0.032713
15                             out_prncp     0.024866         0.024866
87                        issue_d_Oct-08     0.023336         0.023336
108             purpose_renewable_energy     0.021848         0.021848
56                        issue_d_Feb-09     0.018980         0.018980
34                   home_ownership_NONE     0.016799         0.016799
40          verification_status_Verified     0.014761         0.014761
7                            delinq_2yrs     0.012581         0.012581
58                        issue_d_Feb-11    -0.012343         0.012343
110                     purpose_vacation     0.006668         0.006668
136                        addr_state_MO    -0.005945         0.005945
79                        issue_d_May-10    -0.004473         0.004473
68                        issue_d_Jun-07     0.000987         0.000987
133                        addr_state_ME     0.000000         0.000000
97                          pymnt_plan_y     0.000000         0.000000